# Node modules
/node_modules/

# Build output
/dist/
/out-tsc/

# Angular environment files
/src/environments/*.ts

# IDE files
/.vscode/
/.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Compiled files
*.js
*.js.map

# Misc
/.angular/cache/
/.github/